version: '3.8'

services:
  backend:
    image: ghcr.io/vijai-veerapandian/myweather-app/backend-ai:v2.0
    container_name: myweather-backend
    ports:
      - "5000:5000" 
    environment:
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - REACT_APP_BACKEND_AI_URL=${REACT_APP_BACKEND_AI_URL}
    restart: always 

  frontend:
    image: ghcr.io/vijai-veerapandian/myweather-app/frontend:v2.7
    container_name: myweather-frontend
    ports:
      - "80:80" 
    environment:
      - REACT_APP_GEO_API_URL=${REACT_APP_GEO_API_URL}
      - REACT_APP_RAPIDAPI_KEY=${REACT_APP_RAPIDAPI_KEY}
      - REACT_APP_RAPIDAPI_HOST=${REACT_APP_RAPIDAPI_HOST}
      - REACT_APP_WEATHER_API_URL=${REACT_APP_WEATHER_API_URL}
      - REACT_APP_WEATHER_API_KEY=${REACT_APP_WEATHER_API_KEY}
      - REACT_APP_GEMINI_API_KEY=${REACT_APP_GEMINI_API_KEY}
      - REACT_APP_BACKEND_AI_URL=${REACT_APP_BACKEND_AI_URL}
    restart: always
