version: '3.8'

services:
  react-app:
    image: frontend:v2.0
    ports:
      - "80:80"
    depends_on:
      - redis
      - postgres
      - backend-api
      - backend-ai
    environment:
      - REACT_APP_BACKEND_API_URL=${REACT_APP_BACKEND_API_URL}
      - REACT_APP_BACKEND_AI_URL=${REACT_APP_BACKEND_AI_URL}
      - REACT_APP_GEO_API_URL=${REACT_APP_GEO_API_URL}
      - REACT_APP_RAPIDAPI_KEY=${REACT_APP_RAPIDAPI_KEY}
      - REACT_APP_RAPIDAPI_HOST=${REACT_APP_RAPIDAPI_HOST}
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  redis:
    image: redis:6.2.6
    ports:
      - "6379:6379"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  postgres:
    image: ghcr.io/vijai-veerapandian/myweather-app/postgresdb:v1.0
    environment:
      POSTGRES_DB: weatherdb
      POSTGRES_USER: weatheruser
      POSTGRES_PASSWORD: weatherpass
    ports:
      - "5432:5432"
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  backend-api:
    image: backend-api:v2.0
    ports:
      - "5001:5001"
    depends_on:
      - redis
      - postgres
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=5432
      - POSTGRES_DB=weatherdb
      - POSTGRES_USER=weatheruser
      - POSTGRES_PASSWORD=weatherpass
      - REACT_APP_WEATHER_API_URL=${REACT_APP_WEATHER_API_URL}
      - REACT_APP_WEATHER_API_KEY=${REACT_APP_WEATHER_API_KEY}

  backend-ai:
    image: backend-ai:v1.0
    ports:
      - "5000:5000"
    environment:
      - REACT_APP_GEMINI_API_KEY=${REACT_APP_GEMINI_API_KEY}

  prometheus:
    image: prom/prometheus:v2.29.2
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:8.2.5
    ports:
      - "3001:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana-data:/var/lib/grafana

volumes:
  grafana-data: