.weather {
    width: 350px;
    height: auto; /* Adjust height to be auto */
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    color: #fff;
    background-color: #333;
    margin: 20px auto;
    padding: 15px 20px; /* Adjust padding to make it shorter */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.city {
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 0;
    letter-spacing: 1px;
}

.temperature {
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -5px;
    margin: 10px 0;
}

.weather-description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    margin-top: 10px;
}

.weather-icon {
    width: 80px; /* Adjust icon size */
    height: 80px; /* Adjust icon size */
    align-self: flex-end;
}

.bottom {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.details {
    margin-top: 10px;
    width: 100%;
}

.parameter-row {
    display: flex;
    justify-content: space-between;
}

.parameter-label {
    font-weight: 400;
    font-size: 14px;
}

.parameter-value {
    font-weight: 600;
    font-size: 14px;
    text-align: right;
}

.date {
    margin-top: 10px;
    font-size: 14px;
    text-align: left;
    width: 100%;
}